:root {
  --green: #1db954;
  --white: white;
}

h2 {
    font-size: 30px !important;

}

.row {
  justify-content: center;
}


.container-about  {
    background-image: url(../assets/white-background.jpg);
    object-fit: cover;
    padding: 50px;
    text-align: center;
}

.row {
  padding-top: 50px;
}


#headingOne {
  background-color: black;
}


#aboutBtn {
  color: var(--white);
  font-weight: 900;
  box-shadow: none;
  text-decoration: none;
}

#aboutBtn:hover {
  text-decoration: none;
}

#aboutBtn:visited {
  text-decoration: none;
}


.collapse {
  background-color: white;
}

.how-it-works-text {
  margin-left: 12px;
  color: black;
}

#dropdown {
  padding: 0px;
  border: white;
}
