:root {
  --green: #1db954;
  --white: white;
  --black: black;
}

footer {
  text-align: center;
  color: var(--white);
  padding: 20px 0px 10px 0px;
  background-color: var(--black);
}

a#GitHubLink {
  color: var(--white) !important;
}

a#GitHubLink:hover {
  color: var(--green) !important;
  text-decoration: none !important;
}
