.jumbotron {
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 5;
}



.btn {
    background-color: greenyellow !important;
    border: greenyellow !important;
    color: black !important;
    z-index: 5;

}

.btn:hover {
    background-color: white !important;
    color: greenyellow !important;
}


.jumbotron video {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    /* opacity: 50%; */
  }
