:root {
  --green: #1db954;
  --white: white;
}

.jumbotron {
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 5;
  background-color: transparent;
  padding: 2rem, 0rem;
}

#hero-btn {
  background-color: var(--green) !important;
  border: var(--green) !important;
  color: black !important;
  z-index: 5;
}

#hero-btn:hover {
  background-color: var(--white) !important;
  color: var(--green) !important;
}

.jumbotron video {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  margin: auto 0;
}

.video-background {
  height: 485px;
}
