:root {
    --green: #1DB954;
    --white: white;
}

.nav-item {
    color: black !important;
};

a:hover {
    color: var(--green) !important;
};

.navigation {
    background-color: var(--white) !important;
};