.Miix-header {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 20px;
}

.track-container {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px;
  padding-top: 20px;
}

.nameAndArtist {
  width: 200px;
  color: white;
  justify-content: left !important;
  word-wrap: break-word;
  padding-left: 10px;
  padding-top: 15px;
}

.songBtn {
  border: none !important;
  background-color: #28a745 !important;
  display: inline-flex !important;
  align-items: flex-start !important;
  margin-top: 15px !important;
  color: black !important;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.songLink {
  font-size: 50px !important;
}

.songBtn:hover {
  background-color: white !important;
  color: #28a745 !important;
}
