.jumbotron,
.login {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color: black !important;
  color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.greeting-card {
  margin-left: auto;
  margin-right: auto;
}

.user-greeting {
  font-size: 35px !important;
}

.login-link {
  color: #adff2f !important;
  font-size: 50px !important;
  background: black;
  border-radius: 5%;
  padding: 5px;
  margin-top: 20px !important;
}

.btn-div {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* .get-tracks-form {
  padding-bottom: 20px;
  padding-top: 20px;
} */

.get-tracks-btn,
.logoutBtn {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px;
  border: none !important;
  background-color: black;
  color: #adff2f !important;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.logoutBtn {
  margin-top: 20px;
  margin-right: 10px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.get-tracks-btn:hover,
.logoutBtn:hover {
  background-color: #adff2f;
  color: black !important;
}
